params {
    phase = true
    with_ref = false
    impute = false
    phase_tool = 'shapeit'
    impute_tool = 'minimac4'

    vcf = ''
    out_dir = ''
    out_prefix = ''
    
    RefereceSamplesToExclude = ''

    burninIter = 2000			// BEAGLE5
    mainIter = 1000			// BEAGLE5
    kpbwt = 20000			// BEAGLE5 | EAGLE2
    pbwt = 8				// SHAPEIT4
    autosome = false

    // CREATING IMPUTATION PANEL
    input_dir = ''			// directory containing phased VCF files (single chromosomes) for which imputation panel is to be created
}

profiles {
    slurm {
        includeConfig "${projectDir}/configs/slurm.config"
    }
    pbspro {
        includeConfig "${projectDir}/configs/pbspro.config"
    }
    sadacclong {
        includeConfig "${projectDir}/configs/uct-sadacc-long.config"
    }
    sadaccshort {
        includeConfig "${projectDir}/configs/uct-sadacc-short.config"
    }
    hg19 {
        includeConfig "${projectDir}/configs/reference-hg19.config"
    }
    hg38 {
        includeConfig "${projectDir}/configs/reference-hg38.config"
    }
}
