executor {
    name = 'pbspro'
    queue = 'serial'
    queueSize = 10
}

params {
    inputDir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/28_OCT_2018/unimputed/'
    outputDir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/28_OCT_2018/phased/'
    outputPrefix = 'AW2018-phased'
    vcf = 'AW2018.for-phasing.vcf.gz'
    burninIter = 2000
    mainIter = 1000
    impute = "false"
    referenceDir = '/mnt/lustre/groups/CBBI1243/KEVIN/imputationReference/'
    fastaRef = '/mnt/lustre/groups/CBBI1243/KEVIN/db/hg19/hg19.fa'
    RefereceSamplesToExclude = '/mnt/lustre/groups/CBBI1243/KEVIN/imputationReference/non.afr.excl'
    containersDir = '/mnt/lustre/groups/CBBI1243/KEVIN/containers/'
}

singularity {
    enabled = true
    automounts = true
    cacheDir = "${HOME}/singularity"
}

process {

//    beforeScript = 'module load chpc/python/3.7.0'
    beforeScript = 'module load chpc/singularity/3.5.3'
    
    errorStrategy = { task.exitStatus in [135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
 
    cpus = 24
    time = 30.m
    memory = 50.GB

    clusterOptions = '-P CBBI1243 -l select=1'

    withLabel:extractPalindromes {
        cpus = 1
        time = 10.m
        memory = 3.GB
    }
    withLabel:splitVCF {
        cpus = 24
        time = 30.m
        memory = 1.GB
    }
    withLabel:alignGenotypes {
        time = 30.m
        cpus = 24
        memory = 80.GB
    }
    withLabel:phaseGenotypes {
        time = 30.h
        cpus = 24
        memory = 30.GB
    }
    withLabel:plink2 {
        container = "${params.containersDir}plink2_latest.sif"
    }
    withLabel:bcftools {
        container = "${params.containersDir}bcftools_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}py3plink_latest.sif"
    }
    withLabel:Rbase {
	container = "${params.containersDir}R.sif"
    }
    withLabel:beagle {
	container = "${params.containersDir}beagle.sif"
    }
}

