
params { // one time system configuration
   account		= "awonkam1" 			// if using SLURM or PBSPRO, provide your cluster project or account name
   queue		= "parallel" 		// if using SLURM or PBSPRO, specify the queue or partition name
   njobs		= 5 				// number of jobs to submit at once each time
   containers_dir	= "/scratch4/awonkam1/containers/" // if using singularity containers, provide a path where the images will be stored. NB: The path should have sufficient storage capacity
   email		= 'NULL'
}
