params {
  panel_dir = '/vast/awonkam1/resources/hg19/haplotypepanel/'
  map_dir = '/vast/awonkam1/resources/hg19/geneticmap/'
  ref_dir = '/vast/awonkam1/resources/hg19/refgenome/'
  fastaRef = "${params.ref_dir}/hs37d5.fa"
  dbsnp = "/vast/awonkam1/resources/hg19/gatkbundles/dbsnp156_hg19.vcf.gz"
  buildVersion = 'hg19'
}
