process {

    errorStrategy = { task.exitStatus in [135,140,143,255] ? 'retry' : 'terminate' }
    maxErrors = '-1'
    maxRetries = 3
    
    // Resources
    withLabel:smallMemory {
        cpus = 24
        time = 5.m
        memory = 2.GB
    }
    withLabel:mediumMemory {
        cpus = 22
        time = { 15.m * task.attempt }
        memory = { 5.GB * task.attempt }
    }
    withLabel:bigMemory {
        time = { 15.m * task.attempt }
        cpus = 11
        memory = { 90.GB * task.attempt }
    }
    withLabel:longRun {
        time = 10.h
        cpus = 24
        memory = 90.GB
    }
    withLabel:extractPalindromes {
        cpus = 1
        time = 10.m
        memory = 3.GB
    }
    withLabel:splitVCF {
        cpus = 24
        time = 30.m
        memory = 1.GB
    }
    withLabel:alignGenotypes {
        time = 30.m
        cpus = 24
        memory = 80.GB
    }
    withLabel:phaseGenotypes {
        time = 20.m
        cpus = 24
        memory = 30.GB
    }
    withLabel:phase_shapeit {
        time = 60.m
        cpus = 24
        memory = 30.GB
    }
}

