includeConfig "${projectDir}/configs/containersDir.config"

process {
    withLabel:plink2 {
        container = "${params.containers_dir}plink2_latest.sif"
    }
    withLabel:bcftools {
        container = "${params.containers_dir}bcftools_latest.sif"
    }
    withLabel:plink {
        container = "${params.containers_dir}py3plink_latest.sif"
    }
    withLabel:Rbase {
        container = "${params.containers_dir}R.sif"
    }
    withLabel:beagle {
        container = "${params.containers_dir}beagle_latest.sif"
    }
    withLabel:eagle {
        container = "${params.containers_dir}eagle_latest.sif"
    }
    withLabel:shapeit {
        container = "${params.containers_dir}shapeit4_latest.sif"
    }
    withLabel:impute {
        container = "${params.containers_dir}impute_latest.sif"
    }
    withLabel:vcftools {
        container = "${params.containers_dir}vcftools_latest.sif"
    }
    withLabel:minimac3 {
        container = "${params.containers_dir}minimac3_latest.sif"
    }
    withLabel:minimac4 {
        container = "${params.containers_dir}minimac4_latest.sif"
    }
}
