singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/scratch4/awonkam1/containers/"
}

process {
    withLabel:plink {
        container = "sickleinafrica/plink:latest"
    }
    withLabel:bcftools {
        container = "sickleinafrica/bcftools:1.11"
    }
    withLabel:Rbase {
        container = "sickleinafrica/r-tidyverse-qqman:latest"
    }
    withLabel:'beagle' {
        container = "sickleinafrica/beagle:latest"
    }
    withLabel:eagle {
        container = "sickleinafrica/eagle2:latest"
    }
    withLabel:shapeit {
        container = "lifebitai/shapeit4:latest"
    }
    withLabel:impute {
        container = "lifebitai/impute2:latest"
    }
    withLabel:vcftools {
        container = "biocontainers/vcftools:v0.1.16-1-deb_cv1"
    }
    withLabel:minimac3 {
        container = "rhughwhite/minimac3:2.0.1"
    }
    withLabel:minimac4 {
        container = "biocontainers/minimac4:v1.0.0-2-deb_cv1"
    }
}
