singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${HOME}/singularity"
}

process {
    withLabel:plink2 {
        container = "docker://sickleinafrica/plink2:latest"
    }
    withLabel:bcftools {
        container = "docker://sickleinafrica/bcftools:1.11"
    }
    withLabel:plink {
        container = "docker://sickleinafrica/plink1.9:1.9"
    }
    withLabel:Rbase {
        container = "docker://sickleinafrica/r-tidyverse-qqman:latest"
    }
    withLabel:beagle {
        container = "docker://sickleinafrica/beagle:latest"
    }
    withLabel:eagle {
        container = "docker://sickleinafrica/eagle2:latest"
    }
    withLabel:shapeit {
        container = "docker://lifebitai/shapeit4:latest"
    }
    withLabel:impute {
        container = "docker://lifebitai/impute2:latest"
    }
    withLabel:vcftools {
        container = "https://hub.docker.com/r/biocontainers/vcftools:v0.1.16-1-deb_cv1"
    }
    withLabel:minimac3 {
        container = "docker://rhughwhite/minimac3:2.0.1"
    }
    withLabel:minimac4 {
        container = "docker://biocontainers/minimac4:v1.0.0-2-deb_cv1"
    }
}
