executor {
    queue = 'local'
    queueSize = params.njobs
}

includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/reference-hg38.config"
includeConfig "${projectDir}/configs/reference-hg19.config"

process {
    cpus = params.threads
    time = 3.h
    memory = 30.GB
}

