executor {
    name = 'pbspro'
    queue = 'normal'						// replace 'normal' with your cluster queue option
    queueSize = 10						// increase of decrease the queue size according to your privileges 
}

includeConfig "${projectDir}/configs/base.config"
includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/reference-hg38.config"
includeConfig "${projectDir}/configs/reference-hg19.config"

process {
    beforeScript = 'module load chpc/singularity/3.5.3'		// load singularity according to your cluster directives
    cpus = 24
    time = 3.h
    clusterOptions = '-P CBBI1243'				// replace 'CBBI1243' with your cluster project name
}

